FIREBASE_DATABASE_URL=https://YOUR_PROJECT-default-rtdb.firebaseio.com
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_UPLOAD_PRESET=restricted_unsigned_preset
CLOUDINARY_PRODUCT_FOLDER=kitchen-sync/products
INTERNET_HEALTHCHECK_URL=https://clients3.google.com/generate_204
